@font-face {
    font-family: 'lustdisplay';
    src: url('/fonts/lust-display.woff2') format('woff2'),
         url('/fonts/lust-display.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background-color: #121212;
    font-family: 'Arial Black', sans-serif;
    color: white;
    cursor: url('cursors/cursor.cur'), auto;
}

.lustfont {
    font-family: 'lustdisplay';
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.dialog-box {
    background: #000;
    border: 4px solid #fff;
    padding: 25px 30px;
    width: 400px;
    box-shadow: 10px 10px 0 #ff2b2b;
    transform: skewX(-4deg);
}

.dialog-question {
    font-size: 2.5rem;
    margin-bottom: 1px;
    margin-top: -.7rem;
    transform: skewX(4deg);
}

.choice-container {
    display: flex;
    justify-content: space-between;
    transform: skewX(4deg);
}

.choice {
    background: #1e1e1e;
    padding: 10px 55px;
    border: 2px solid white;
    width: 45%;
    position: relative;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.2s;
    text-align: center;
}

.choice.selected {
    background: #ff2b2b;
    color: #fff;
}

.hidden {
    visibility: hidden;
}

.arrow {
    position: absolute;
    left: -25px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: white;
    visibility: hidden;
}

.choice.selected .arrow {
    visibility: visible;
    animation: arrowselector 1s infinite alternate ease-in-out;
}

@keyframes arrowselector {
    0% { left: -27px; }
    50% { left: -23px; }
    100% { left: -27px; }
}

textarea {
    width: 99%;
    height: 50px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    margin-top: -1rem;
    margin-bottom: .45rem;
}

.main-content {
    padding: 40px 20px;
    max-width: 800px;
    margin: 0 auto;
}

.container {
    background: rgba(255, 255, 255, 0.05);
    padding: 30px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    height: 70rem;
    width: 50rem;
}

h1.lustfont {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #ff2b2b;
    text-align: center;
}
