@font-face {
    font-family: 'lustdisplay';
    src: url('fonts/lust-display.woff2') format('woff2'),
         url('fonts/lust-display.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
