.big-container {
	width: 1075px;
	height: auto;
	border: 1px solid black;
	margin: auto;
	padding: 20px;
	background-color: #ffebbd;
}

.header {
	width: auto;
	height: 140px;
	border: 2px solid #62128b;
	border-radius: 10px 10px 0px 0px;
	margin-bottom: 10px;
}

.top {
	width: auto;
	height: auto;
	border: none;
}

.welcome-sign {
	width: 800px;
	height: 355px;
	border: 1px solid #B8388B;
	margin-bottom: 5px;
	padding: 10px;
	background-color: #FEF2DA;
}

.welcome2 {
	border: 2px solid #B8388B;
	width: auto;
	height: auto;
	padding: 15px;
	border-radius: 15px;
	background-color: #FFB0AE;
	
}

.update-corner {
	width: 800px;
	height: auto;
	border: 1px solid #B8388B;
	margin-top: 5px;
	padding: 15px;
	box-shadow: inset 0px 0px 2px 2px #fff0, 0px 5px #00000038
}

.nav {
	width: 200px;
	height: 610px;
	border: 2px solid #B93A8B;
	background-color: #FFB0AE;
	margin-right: 3px;
}

.main-nav {
	width: auto;
	height: auto;
	margin-right: 10px;
}

.flex {
	display: flex;
}

.big-container, .welcome-sign, .update-corner, .nav {
	border-radius: 10px;
}

.flex-2 {
	display: flex;
	flex-direction: column;
}

#counter {
    padding: .5em;
    background-color: #fee7d3;
    border: 2px solid #FD8A85;
	border-radius: 5px;
	width: auto;
  	box-shadow: inset 0px 0px 2px 2px #fff0, 0px 5px #00000038
}
